<div class="footer rel" id="footer">
       	<h4 class="rel left">Contact</h4>
           <p class="rel left">Telephone: + 44 (0) 7572 428 511</p>
           <a href="mailto:info@scribblesquad.com" class="rel left">Email: info@scribblesquad.com</a>
       </div>
