<div class="header rel">
        	<a href="index.html"><img class="logo abs" src="assets/scribblesquad.gif" height="38" width="160" alt="Scribble Squad" /></a>
            <h1 class="strapline abs">We are ideas. And we are loud.</h1>
            <a class="blog-link" href="http://blog.scribblesquad.com"><img class="blog abs" src="assets/newblog.gif" height="34" width="75" alt="New Blog" /></a>
        	<ul class="abs nav">
            	<li class="home"><a href="#">Home</a></li>
                <li class="work"><a href="#">Work</a></li>
                <li class="members"><a href="#">Members</a></li>
                <li class="contact"><a href="#footer" title="Contact Us">Contact</a></li>
            </ul>
            <div class="pubnub"><a href="http://www.pubnub.com"></a></div>
        </div>