<div class="copy-wrapper rel">
    <div class="motto">
        <p>If your idea is an orange, then we're the peel, juice and pulp. Remember those revolutionary apps that went nowhere? Those were the other guys. The Big Bang? That was us. We make ideas loud. You do what you do best. We'll do the rest.</p>
    </div>
    <img class="spectrum" src="assets/spectrum.jpg" height="256" width="344" alt="a spectrum chart of our overlapping skill sets" />
</div>