<div class="portfolio rel" id="portfolio">
  	<div class="port-title rel">
      	<h3 class="abs">Portfolio</h3>
      </div>
      <div class="port-wrapper rel">
      	<div class="port-items-wrapper rel">
              <ul class="port-items rel">                	
                      <li class="one">
                          <a class="lrg" href="assets/lrg/uet.jpg" title="Urban Elite Team">
                              <span class="label">Urban Elite Team</span>
                          </a>                               
                      </li>
                      <li class="two">
                          <a class="lrg" href="assets/lrg/fnd.png" title="Fundopoly">
                              <span class="label">Fundopoly</span>
                          </a>                                
                      </li>
                      <li class="three">
                          <a class="lrg" href="assets/lrg/bst.jpg" title="Boost.IM">
                              <span class="label">Boost.IM</span>
                          </a>                                
                      </li>
                      <li class="four">
                          <a class="lrg" href="assets/lrg/vrg.png" title="Boost.IM">
                              <span class="label">Virgin Atlantic</span>
                          </a>                                
                      </li>
                      <li class="five">
                          <a class="lrg" href="assets/lrg/siz.jpg" title="Ssize">
                              <span class="label">Ssize</span>
                          </a>                                
                      </li>
                      <li class="six">
                          <a class="lrg" href="assets/lrg/tnr.jpg" title="The Next Riot">
                              <span class="label">The Next Riot</span>
                          </a>                               
                      </li>
                      <li class="seven">
                          <a class="lrg" href="assets/lrg/dtx.jpg" title="Detox Berries">
                              <span class="label">Detox Berries</span>
                          </a>                                
                      </li>
                      <li class="eight">
                          <a class="lrg" href="assets/lrg/gln.jpg" title="Glenfiddich">
                              <span class="label">Glenfiddich</span>
                          </a>                                
                      </li>
                      <li class="nine">
                          <a class="lrg" href="assets/lrg/fcn.jpg" title="Falcon">
                              <span class="label">Falcon</span>
                          </a>                                
                      </li>
                      <li class="ten">
                          <a class="lrg" href="assets/lrg/log.jpg" title="Logos">
                              <span class="label">Logos</span>
                          </a>                                
                      </li>
                  
              </ul>
				</div>                    
      </div>
 </div>