<div class="abs social-wrapper">
                    <div class="rel social">
                        <a href="http://www.facebook.com/scribblesquad">Facebook</a>
                        <a href="http://www.twitter.com/scribblesquad">Twitter</a>
                    </div>
                    <div class="rel social-btn"></div>
                </div>