
            	<h2 class="tagline rel">This is the new rock and roll and we are the new rockstars.</h2>
                <img class="rel" src="assets/timeline.jpg" height="104" width="1020" alt="An iconographic pictoral of the preceding strap line" />