<h1>
            	 <img class="member-img rel" src="assets/main.jpg" height="606" width="1020" alt="The members of Scribble Squad" />
            	 <img class="clients rel" src="assets/clients.gif" height="73" width="1020" alt="clients we have worked with" />
       	      </h1>
            	